<!DOCTYPE html>
<html>
<title>Reporte Medico Inscrito</title>

<body>

<p style="text-align: center;"><strong>REPORTE MEDICO INSCRITO</strong></p>
<p></p>
<div>
<table class="tg" style="width: 483px;">
<thead>
<tr>
<th class="tg-0pky" style="width: 129px;"><strong>Nombres</strong></th>
<th class="tg-0pky" style="width: 353px;">{{medico.nombres}}</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tg-0pky" style="width: 129px;"><strong>Apellidos</strong></td>
<td class="tg-0pky" style="width: 353px;">{{medico.apellidos}}</td>
</tr>
<tr>
<td class="tg-0pky" style="width: 129px;"><strong>Tipo Documento</strong></td>
<td class="tg-0pky" style="width: 353px;">{{medico.tipo_documento}}</td>
</tr>
<tr>
<td class="tg-0pky" style="width: 129px;"><strong>Num Documento</strong></td>
<td class="tg-0pky" style="width: 353px;">{{medico.numero_documento}}</td>
</tr>
<tr>
<td class="tg-0pky" style="width: 129px;"><strong>Registro Medico</strong></td>
<td class="tg-0pky" style="width: 353px;">{{medico.registro_medico}}</td>
</tr>
<tr>
<td class="tg-0pky" style="width: 129px;"><strong>Especialidad</strong></td>
<td class="tg-0pky" style="width: 353px;">{{medico.especialidad}}</td>
</tr>
<tr>
<td class="tg-0pky" style="width: 129px;"><b>Direcci&oacute;n</b></td>
<td class="tg-0pky" style="width: 353px;">{{medico.direccion}}</td>
</tr>
<tr>
<td class="tg-0pky" style="width: 129px;"><b>Tel&eacute;fono</b></td>
<td class="tg-0pky" style="width: 353px;">{{medico.telefono}}</td>
</tr>
<tr>
<td class="tg-0pky" style="width: 129px;"><strong>Ciudad</strong></td>
<td class="tg-0pky" style="width: 353px;">{{medico.ciudad}}</td>
</tr>
</tbody>
</table>
</div>

</body>
</html>