<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>INCAPACIDAD MEDICA</title>
</head>
<body>

<h2 style="text-align: center;"><strong>INCAPACIDAD MEDICA</strong></h2>

<h3><strong>Datos del Paciente</strong></h3>
<table style="height: 28px; width: 100%; border-collapse: collapse; border-style: hidden;" border="0">
<tbody>
<tr style="height: 10px;">
<td style="width: 15%; height: 10px;">Nombres:</td>
<td style="width: 85%; height: 10px;">{{paciente.nombres}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 15%; height: 10px;">Apellidos:</td>
<td style="width: 85%; height: 10px;">{{paciente.apellidos}}</td>
</tr>
</tbody>
</table>
<table style="height: 23px; width: 100%; border-collapse: collapse; border-style: hidden;" border="0">
<tbody>
<tr style="height: 10px;">
<td style="width: 15%; height: 10px;">Edad:</td>
<td style="width: 15%; height: 10px;">{{paciente.edad}} Años</td>
<td style="width: 20%;">&nbsp;</td>
<td style="width: 25%; height: 10px;">Num Documento:</td>
<td style="width: 25%; height: 10px;">{{paciente.numero_documento}}</td>
</tr>
</tbody>
</table>

{% for consulta in consultas %}
<p style="text-align: center;"><strong>Fecha de Consulta: {{consulta.date_consulta}}</strong></p>
<p style="text-align: center;"><strong>Hora de Consulta: {{consulta.hora}}</strong></p>
<table style="height: 23px; width: 100%; border-collapse: collapse; border-style: hidden;" border="0">
<tbody>

</tbody>
</table>

<h3 style="text-align: left;"><strong>Incapacidad</strong></h3>
{{consulta.incapacidad_medica}}
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;">&nbsp;</p>
{% endfor %}

<img src="{% static 'firma.jpg' %}" width="3%" height="3%"> 
<p style="text-align: left;">______________________________________</p>
<p style="text-align: left;">Profesional: {{medico.nombre_impreso}}</p>
<p style="text-align: left;">Especialidad: {{medico.especialidad}}</p>
<p style="text-align: left;">Registro Medico: {{medico.registro_medico}}</p>

</body>
</html>